body {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}
input {
    width: 65%;
    height: 50px;
    border: solid 1px white;
    border-radius: 3px;
}

select,
.btn {
    width: 70%;
    height: 50px;
    font-size: 20px;
    text-transform: uppercase;
}
.accordion-button:not(.collapsed){
    color: white;
    background-color: #212529;
    font-size: 30px;
}
.accordion-button {
    font-size: 30px;
    
}
.accordion-button:focus {
    border-color: white;
}
.form-select {
    font-size: 20px;
    text-transform: uppercase;
}
.viewResult {
    background-color: white;
    height: 70px;
    font-size: 30px;
    border-radius: 3px;
    padding-top: 10px;
    display: none;
}
@media (max-width: 375px) {
 body {
    font-size: 12px;
 }   
}