body {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
}
input {
    width: 200px;
    height: 50px;
    border: solid 1px white;
    border-radius: 3px;
}

select,
.btn {
    width: 180px;
    height: 50px;
    font-size: 25px;
    text-transform: uppercase;
}
.accordion-button:not(.collapsed){
    color: white;
    background-color: #212529;
    font-size: 40px;
}
.accordion-button {
    font-size: 40px;
    
}
.accordion-button:focus {
    border-color: white;
}
.form-select {
    font-size: 25px;
    text-transform: uppercase;
}